<!--
vim: syntax=eruby
-->
<div class="inner">
  <div class="span-10">
    <div id="chat-screen" class="room chat">
      <table id="chat-data">
        <tbody id="chat-data-tbody"></tbody>
      </table>

      <div class="message">
          <div class="head"><%= image_tag "buddy-icon-30.png" %></div>
          <div class="body">asjdf;lkadjsfkla;djsklfja;sdjflaf;lkjasdlkfjklasdjf;klajsdlkf;jaklsdjf;j</div>
          <div class="clear"></div>
      </div>

    </div>
  </div>

  <div class="span-6 last">
    <div class="room list">
      <div id="chat-subject">
      </div>
    </div>
    <div class="room user list">
        <ul>
        <% @chatroom.users.each do |u| %>
            <li><%= buddy_icon(u, :small) || image_tag("buddy-icon-16.png") %><span><%= user_link(u) %></span></li>
        <% end %>
        </ul>
      <!-- original code 

      <div id="chatroom-userlist">
        <% @chatroom.users.each do |u| %>
        <div class="item" id="chatroom-userlist-user<%= u.id %>">
          <%= buddy_icon(u, :small) %>
          <span><%= user_link(u) %></span>
        </div>
        <% end %>
      </div>

      -->
    </div>
  </div>

  <div class="span-10">
    <div id="chat-input-area">
      <div id="chat-input-textarea">
        <% form_remote_tag(
           :html => { :id => "chat-input-form" },
           :url => chatroom_say_path( :id => @chatroom.id ) ,
           :loading => "Form.disable('chat-input-form')",
           :complete => "$('chat-input').value='';Form.enable('chat-input-form');$('chat-input').focus()") do %>
        <div>
          <%= text_area_tag "chat-input", "", :class => "room text" %>
	  <input type="submit" id="chat-input-submit" class="room say" value="<%= _ "Send" %>">
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="room info span-6 last">
    <div class="room online">123456 users online</div>
    <%= image_tag "logo-lite.png" %>
  </div>
</div>

<% chatroom_to_json = {
  :id => @chatroom.id,
  :subject => @chatroom.subject,
  :channel => "#{@subject_prefix}.#{@chatroom.id}",
  :owner => user_to_hash(@chatroom.owner),
  :users => @chatroom.users.map { |u| user_to_hash(u) }
}.to_json %>

<script type="text/javascript">
Event.observe(window, 'load', function() {
        Chatroom.init(<%= "#{chatroom_to_json}" %>, <%= "#{user_to_json(current_user)}" %>);
        Chatroom.connect();
        Chatroom.initChangeUserPhotoHandler();
        Chatroom.focusOnInput();
        Chatroom.setKeyBinding();
});
</script>
